/* Shared */
/* .CSS that is shared across all the other pages not including App.jsx and main.jsx. */
.pages-div { margin: 4em auto; padding: 3em; max-width: 1000px; border-radius: 12.5px; background-color: rgba(18, 18, 20, 0.75); box-shadow: 0 6px 18px rgba(0, 0, 0, 0.75); }
.pages-content { display: flex; align-items: center; gap: 3em; }
.pages-text h1 { margin-bottom: 1em; font-size: 2.5em; }
.pages-text p { margin-bottom: 1.25em; font-size: 1.25em; }


/* aboutme.jsx */
/* .CSS that is only utilized in aboutme.jsx. */
.aboutme-photo { width: 200px; border-radius: 12.5%; }
.aboutme-resume a { color: cornflowerblue; font-weight: 750; transition: color 0.25s ease; }
.aboutme-resume a:hover { color: darkblue; }


/* projects.jsx */
/* .CSS that is only utilized in projects.jsx. */
.projects-photo { width: 375px; border-radius: 12.5px; }
.projects-link a { color: cornflowerblue; font-weight: 750; transition: color 0.25s ease; }
.projects-link a:hover { color: darkblue; }

/* services.jsx */
/* .CSS that is only utilized in services.jsx. */
.service-photo { width: 100px; margin-bottom: 0.875em; margin-left: 1em; border-radius: 12.5px; }


/* contactme.jsx */
/* .CSS that is only utilized in contactme.jsx */
.contactme-form { display: flex; flex-direction: column; gap: 1em; }
.contactme-form input, .contactme-form textarea { padding: 1em; border: 1px solid white; border-radius: 5px; font-size: 1em; font-family: sans-serif; color: white; background-color: rgba(255, 255, 255, 0.1); transition: 0.375s ease-in-out; }
.contactme-form textarea { height: 150px; resize: none; }

.contactme-button { padding: 1em; border: 1px solid white; border-radius: 5px; font-size: 1em; cursor: pointer; color: white; background-color: cornflowerblue; transition: all 0.25s ease-in-out; }
.contactme-button:hover { background-color: darkblue; }